<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home</title>
</head>
<body>
    <main class="max-w-4xl mx-auto my-8">
        <a class="font-bold text-lg border-b hover:text-green-700" href="/"><- Voltar</a>
        <ul class="flex flex-col gap-2">
            <h2 class="text-xl font-bold">{{ campus }}</h2>
            {% for _, data, nome, apto in nomes %}
                {% if "Apto" in apto|string %}
                    <li class="flex text-green-600 justify-between border-b border-neutral-500">
                        <p class="flex gap-4">
                            <span>{{ data }}</span>
                            <span>{{ nome }}</span>
                        </p>
                        <p class="text-end">{{ apto }}</p>
                    </li>
                {% else %}
                    <li class="flex text-red-600 justify-between border-b border-neutral-500">
                        <p class="flex gap-4">
                            <span>{{ data }}</span>
                            <span>{{ nome }}</span>
                        </p>
                        <p class="text-end">{{ apto }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
</body>
</html>