<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home</title>
</head>
<body>
    <main class="flex flex-col items-center max-w-4xl mx-auto mt-8">
        <h1 class="font-bold text-2xl mb-4">Campi</h1>
        <ul class="flex flex-col gap-2">
            {% for campus in campi %}
                <li class="flex">
                    <a 
                        class="hover:bg-green-700 hover:text-white text-center w-full px-3 py-1 border border-neutral-500 rounded" 
                        href="classificados/{{ campus }}">
                        {{ campus }}
                    </a>
                </li>    
            {% endfor %}
        </ul>
    </main>
</body>
</html>