<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home</title>
</head>
<body>
    <main class="max-w-3xl mx-auto mt-8">
        <ul class="flex flex-col gap-2">
            {% for i, nome, apto in nomes %}
                {% if "Apto" in apto|string %}
                    <li class="flex text-green-500 justify-between border-b border-neutral-500">
                        <p class="flex gap-4">
                            <span>{{ i+1 }}</span>
                            <span>{{ nome }}</span>
                        </p>
                        <p class="text-end">{{ apto }}</p>
                    </li>
                {% else %}
                    <li class="flex text-red-500 justify-between border-b border-neutral-500">
                        <p class="flex gap-4">
                            <span>{{ i+1 }}</span>
                            <span>{{ nome }}</span>
                        </p>
                        <p class="text-end">{{ apto }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
</body>
</html>